
<!-- src/app/search/search.component.html -->
<div class="search-container">
  <h3>Search Stories By Title</h3>
  <input [(ngModel)]="query" placeholder="Search Hacker News" />
  <button (click)="search()" [disabled]="loading">Search</button>

  <div *ngIf="loading">Loading...</div>

  <div *ngIf="!loading && results.length > 0">
    <ul>
      <li *ngFor="let result of results">
        <a *ngIf="result.url" [href]="result.url" target="_blank">{{ result.title }}</a>
        <a *ngIf="!result.url">{{ result.title }}</a> 
      </li>
    </ul>
  </div>

  <hr />

  <h3>New Stories With Pagination</h3>
  <div *ngIf="!loading && newStoriesWithPagination.length > 0">    
    <ul>
      <li *ngFor="let story of newStoriesWithPagination">
        <a *ngIf="story.url" [href]="story.url" target="_blank">{{ story.title }}</a>
        <a *ngIf="!story.url">{{ story.title }}</a> 
      </li>
    </ul>

    <div>
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()">Next</button>
    </div>
  </div>

  <hr />
  
  <h3>New Stories</h3>
  <div *ngIf="!loading && newStories.length > 0">   
    <ul>
      <li *ngFor="let story of newStories">
        <a *ngIf="story.url" [href]="story.url" target="_blank">{{ story.title }}</a>
        <a *ngIf="!story.url">{{ story.title }}</a> 
      </li>
    </ul>
  </div>
</div>
